{% extends 'base.html.twig' %}

{% block title %}Les artistes{% endblock %}

{% block body %}
    <h1 class="pt-2 text-center">Liste des artistes</h1>
    <hr>
    <div class="row pt-2">
    {% for artiste in artistes %}
        {% set nb = artiste.albums|length %}
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
                <h5 class="card-header"><a class="text-decoration-none" href="{{ path('artiste', {'id' : artiste.id}) }}">{{ artiste.nom }}</a></h5>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="badge bg-success text-decoration-none">
                            {{nb}}{% if nb > 1 %} albums{% else %} album{% endif %}
                        </a>
                    </h5>
                    <img class="avatar mx-auto d-block" style="height:auto; width: 150px; display:block;" src="{{artiste.image}}" alt="{{artiste.nom}}">
                </div>
                <div class="card-body">
                    <p class="card-text">{{ artiste.description|u.truncate(200, '...')|raw }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{% if artiste.type == 0 %} Artiste solo {% else %} Groupe {% endif %}</li>
                    <li class="list-group-item"><a class="text-decoration-none" href="{{artiste.site}}">Son site web</a></li>
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
