{% extends 'base.html.twig' %}

{% block title %}Admin - gestion des albums{% endblock %}

{% block body %}
 <h1 class="mt-3 text-center text-info">Gestion des albums</h1>
    <a href="{{ path('admin_album_ajout')}}" class="btn btn-sm btn-success">Ajouter un album</a>
    <hr>
    <div class="row pt-2">
        <table class="table table-hover mx-auto">
        <thead>
            <tr>
            <th scope="col-1"></th>
            <th scope="col-2">Nom</th>
            <th scope="col-2">Artiste</th>
            <th scope="col-3">Styles</th>
            <th scope="col-2">Morceaux</th>
            <th scope="col-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for album in albums %}
            <tr>
            <td class="col-1"><img class="miniature avatar mx-auto d-block" style="height:auto; width: 150px; display:block;" src="{{asset("images/albums/" ~ album.image)}}" alt="{{album.nom}}"></td>
            <td class="col-2">{{album.nom}}</td>
            <td class="col-2">{{album.artiste.nom}}</td>
            <td class="col-3">
                {% for style in album.styles %}
                    <span class="badge" style="background-color: {{style.couleur}};">{{style.nom}}</span>
                {% endfor %}
            </td>
            <td class="col-2">
                {% set nbMorceaux = album.morceaux|length %}
                <span class="badge bg-success">{{nbMorceaux}} {% if nbMorceaux > 1%} morceaux {% else %} morceau {% endif %}</span>
            </td>
            <td class="col-2">
                <a class="btn btn-primary" href="{{path('admin_album_modif', {'id':album.id})}}"><i class="fas fa-pen" title="Modifier"></i></a>
                <a class="btn btn-danger"
                    data-bs-toggle="modal" 
                    data-bs-target="#modalSimple"
                    data-titre = "Suppression d'un album"
                    data-message="Etes vous sûr de vouloir supprimer l'album : {{album.nom}}"
                    data-libellebouton="Supprimer l'album"
                    data-lien="{{path('admin_album_suppression', {'id' :album.id})}}"
                    ><i class="fas fa-trash" title="Supprimer"></i></a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        {# display navigation #}
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(albums) }}
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% include "include/_modale.html.twig" %}
{% endblock %}
