<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/cerulean/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/7c3e62fb26.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('accueil') }}">M@ musique</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('artistes') }}">Liste des artistes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="{{path('albums')}}">Liste des albums</a>
                    </li>
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('admin_artistes')}}">Gestion des artistes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('admin_styles')}}">Gestion des styles</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('admin_albums')}}">Gestion des albums</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav my-auto">
                    {% if app.user %}
                    <li class="nav-item">
                        <img class="supermini" src="{{app.user.avatar}}"  alt="{{app.user.fullName}}">
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{app.user.fullName}}</a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-small">
                            <a class="dropdown-item" href="#">Mon profil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {# Affiche tous les messages flash #}
            {% for label, messages in app.flashes %}
            <div class="alert alert-dismissible alert-{{label}} mx-auto mt-3">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
            </div>
            {% endfor %}
        {% block body %}{% endblock %}
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.SelectStyles').select2();
        });
    </script>
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
