{% extends 'base.html.twig' %}

{% block title %}Admin - ajout artiste {% endblock %}

{% block body %}
<h1 class="text-center pt-3 text-info">
    {% if app.request.attributes.get('_route') == 'admin_artiste_ajout' %} 
        Ajout
    {% else %}
        Modification
    {% endif %}
        d'un artiste</h1>
{{ form_start(formArtiste, {'attr':{'novalidate':'novalidate'}}) }}

<div class="row">
    <div class="col-9"> 
        {{form_row(formArtiste.nom)}}
        {{form_row(formArtiste.site)}} 
        {{form_row(formArtiste.type)}}
    </div>
{{form_row(formArtiste.image)}}
    <div class="col-3">
        <div> 
            <img id="imageAffichee" src="{{asset("images/artistes/" ~ formArtiste.image.vars.value)}}" alt="" class="rounded max-auto d-block img-thumbnail">
        </div>
        <div>
            {{form_errors(formArtiste.imageFile)}}
            {{form_row(formArtiste.imageFile, {'id': 'imageFile'})}}
            <a class="btn btn-primary d-block center" id="chargerPochette"><i class="fas fa-upload"></i> Charger la photo</a>
        </div>
    </div>
</div>
{{form_row(formArtiste.description)}}

<div class="row">
    <div class="col">
        <a class="btn btn-warning d-block text-white" href="{{path('admin_artistes')}}">Annuler</a>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-success w-100">
            {% if app.request.attributes.get('_route') == 'admin_artiste_ajout' %}
                Ajouter l'artiste
            {% else %}
                Modifier l'artiste
            {% endif %}
        </button>
    </div>
</div>

{{form_end(formArtiste)}}
{% endblock %}
{% block javascripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        CKEDITOR.replace('artiste_description', {
            uiColor: '#FFA500' // Remplace par ta couleur (orange ici)
        });
    });
</script>
<script src="{{asset('js/gestionUpload.js')}}" defer></script>
{% endblock %}