{% extends 'base.html.twig' %}

{% block title %}Admin - ajout artiste {% endblock %}

{% block body %}
<h1 class="text-center pt-3 text-info">
    {% if app.request.attributes.get('_route') == 'admin_artiste_ajout' %} 
        Ajout
    {% else %}
        Modification
    {% endif %}
        d'un artiste</h1>
{{ form_start(formArtiste, {'attr':{'novalidate':'novalidate'}}) }}

{{form_row(formArtiste.nom)}}
{{form_row(formArtiste.description)}}
<div class="row">
   <div class="col"> {{form_row(formArtiste.site)}} </div>
    <div class="col">{{form_row(formArtiste.type)}}</div>
</div>
{{form_row(formArtiste.image)}}

<div class="row">
    <div class="col">
        <a class="btn btn-warning d-block text-white" href="{{path('admin_artistes')}}">Annuler</a>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-success w-100">
            {% if app.request.attributes.get('_route') == 'admin_artiste_ajout' %}
                Ajouter l'artiste
            {% else %}
                Modifier l'artiste
            {% endif %}
        </button>
    </div>
</div>

{{form_end(formArtiste)}}
{% endblock %}